.rating-container {
    display: flex;
    align-items: center;
}

.star-container {
    margin-right: 8px;
}

.star-input {
    display: none;
}

.star-label {
    font-size: 1.5rem;
    cursor: pointer;
}

.star-input:checked + .star-label:before {
    content: '\2605'; /* Código Unicode de la estrella rellena */
    color: gold;
}